@import "general/_color"
@import "general/_sizes"
@import "general/_padding"
@import "general/_utilities"
@import "general/_pagination"

body
    nav 
        background-color: $blue 
        height: $navImg
        img
            height: $navImg 
    
    #bar-code
        padding-top: 350px

        

    th, td
        padding: 0px !important
        margin: 0px !important

    thead, tfoot
        background-color: $table 
        color: white

    .sixthTable
        .bb
            border-bottom: 1px solid