/* line 3, public/sass/general/_padding.sass */
.pb-0 {
  padding-bottom: 0px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-0 {
  padding-top: 0px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-0 {
  padding-right: 0px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-0 {
  padding-left: 0px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-5 {
  padding-bottom: 5px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-5 {
  padding-top: 5px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-5 {
  padding-right: 5px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-5 {
  padding-left: 5px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-10 {
  padding-bottom: 10px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-10 {
  padding-top: 10px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-10 {
  padding-right: 10px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-10 {
  padding-left: 10px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-15 {
  padding-bottom: 15px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-15 {
  padding-top: 15px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-15 {
  padding-right: 15px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-15 {
  padding-left: 15px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-20 {
  padding-bottom: 20px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-20 {
  padding-top: 20px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-20 {
  padding-right: 20px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-20 {
  padding-left: 20px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-25 {
  padding-bottom: 25px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-25 {
  padding-top: 25px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-25 {
  padding-right: 25px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-25 {
  padding-left: 25px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-30 {
  padding-bottom: 30px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-30 {
  padding-top: 30px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-30 {
  padding-right: 30px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-30 {
  padding-left: 30px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-35 {
  padding-bottom: 35px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-35 {
  padding-top: 35px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-35 {
  padding-right: 35px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-35 {
  padding-left: 35px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-40 {
  padding-bottom: 40px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-40 {
  padding-top: 40px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-40 {
  padding-right: 40px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-40 {
  padding-left: 40px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-45 {
  padding-bottom: 45px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-45 {
  padding-top: 45px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-45 {
  padding-right: 45px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-45 {
  padding-left: 45px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-50 {
  padding-bottom: 50px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-50 {
  padding-top: 50px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-50 {
  padding-right: 50px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-50 {
  padding-left: 50px !important;
}

/* line 3, public/sass/general/_utilities.sass */
p, h1, h2, h3, h4, h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 9, public/sass/general/_utilities.sass */
.row {
  margin-bottom: 0px;
}

/* line 12, public/sass/general/_utilities.sass */
.bold {
  font-weight: 500;
}

/* line 15, public/sass/general/_utilities.sass */
.smallFont {
  font-size: 0.8em;
}

/* line 18, public/sass/general/_utilities.sass */
.bigFont {
  font-size: 1.3em;
}

/* line 21, public/sass/general/_utilities.sass */
.biggerFont {
  font-size: 1.7em;
}

/* line 24, public/sass/general/_utilities.sass */
.title {
  color: #2C4D82;
}

/* line 2, public/sass/general/_pagination.sass */
.page p {
  color: #466F73;
}

/* line 8, public/sass/back.sass */
body .break {
  word-wrap: break-word;
}

/* line 10, public/sass/back.sass */
body .blank {
  display: inline-block;
}

/* line 3, public/sass/general/_padding.sass */
.pb-0 {
  padding-bottom: 0px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-0 {
  padding-top: 0px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-0 {
  padding-right: 0px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-0 {
  padding-left: 0px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-5 {
  padding-bottom: 5px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-5 {
  padding-top: 5px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-5 {
  padding-right: 5px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-5 {
  padding-left: 5px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-10 {
  padding-bottom: 10px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-10 {
  padding-top: 10px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-10 {
  padding-right: 10px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-10 {
  padding-left: 10px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-15 {
  padding-bottom: 15px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-15 {
  padding-top: 15px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-15 {
  padding-right: 15px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-15 {
  padding-left: 15px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-20 {
  padding-bottom: 20px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-20 {
  padding-top: 20px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-20 {
  padding-right: 20px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-20 {
  padding-left: 20px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-25 {
  padding-bottom: 25px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-25 {
  padding-top: 25px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-25 {
  padding-right: 25px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-25 {
  padding-left: 25px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-30 {
  padding-bottom: 30px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-30 {
  padding-top: 30px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-30 {
  padding-right: 30px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-30 {
  padding-left: 30px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-35 {
  padding-bottom: 35px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-35 {
  padding-top: 35px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-35 {
  padding-right: 35px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-35 {
  padding-left: 35px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-40 {
  padding-bottom: 40px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-40 {
  padding-top: 40px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-40 {
  padding-right: 40px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-40 {
  padding-left: 40px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-45 {
  padding-bottom: 45px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-45 {
  padding-top: 45px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-45 {
  padding-right: 45px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-45 {
  padding-left: 45px !important;
}

/* line 3, public/sass/general/_padding.sass */
.pb-50 {
  padding-bottom: 50px;
}

/* line 6, public/sass/general/_padding.sass */
.pt-50 {
  padding-top: 50px;
}

/* line 9, public/sass/general/_padding.sass */
.pr-50 {
  padding-right: 50px !important;
}

/* line 12, public/sass/general/_padding.sass */
.pl-50 {
  padding-left: 50px !important;
}

/* line 3, public/sass/general/_utilities.sass */
p, h1, h2, h3, h4, h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 9, public/sass/general/_utilities.sass */
.row {
  margin-bottom: 0px;
}

/* line 12, public/sass/general/_utilities.sass */
.bold {
  font-weight: 500;
}

/* line 15, public/sass/general/_utilities.sass */
.smallFont {
  font-size: 0.8em;
}

/* line 18, public/sass/general/_utilities.sass */
.bigFont {
  font-size: 1.3em;
}

/* line 21, public/sass/general/_utilities.sass */
.biggerFont {
  font-size: 1.7em;
}

/* line 24, public/sass/general/_utilities.sass */
.title {
  color: #2C4D82;
}

/* line 2, public/sass/general/_pagination.sass */
.page p {
  color: #466F73;
}

/* line 8, public/sass/frontal.sass */
body nav {
  background-color: #2C4D82;
  height: 100px;
}

/* line 11, public/sass/frontal.sass */
body nav img {
  height: 100px;
}

/* line 14, public/sass/frontal.sass */
body #bar-code {
  padding-top: 350px;
}

/* line 19, public/sass/frontal.sass */
body th, body td {
  padding: 0px !important;
  margin: 0px !important;
}

/* line 23, public/sass/frontal.sass */
body thead, body tfoot {
  background-color: #04A0DB;
  color: white;
}

/* line 28, public/sass/frontal.sass */
body .sixthTable .bb {
  border-bottom: 1px solid;
}
