$i: 0
@while $i < 51
    .pb-#{$i}
        padding-bottom: #{$i}px

    .pt-#{$i}
        padding-top: #{$i}px

    .pr-#{$i}
        padding-right: #{$i}px !important

    .pl-#{$i}
        padding-left: #{$i}px !important
    
    $i: $i + 5
