@import "general/_color"

p, h1, h2, h3, h4, h5
    margin-top: 0px
    margin-bottom: 0px
    padding-left: 0px !important
    padding-right: 0px !important

.row
    margin-bottom: 0px

.bold
    font-weight: $bold

.smallFont
    font-size: $smallFont

.bigFont
    font-size: $bigFont

.biggerFont
    font-size: $biggerFont

.title
    color: $blue