<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="file:///home/ysim/Training/bettercrud/public/css/frontal.css">
    </head>
    <body>
        <div class="row pb-10">
            <nav class="col s12 right-align">
                <img src="file:///home/ysim/Training/bettercrud/public/img/factura/telcel-logo.png" alt="telcel-logo">
            </nav>
        </div>
        <div class="row pb-40">
            <div class="col s12">
                <section class="right-align page">
                    <p class="col s12">Página 1 de 2</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col s1 center-align">
                <img id="bar-code" src="file:///home/ysim/Training/bettercrud/public/img/factura/bar-code.png" alt="bar-code">
            </div>
            <div class="col s11">
                <div class="row">
                    <div class="col s5 left">
                        <section class="pb-30">
                            <h1 class="title pb-20">Factura</h1>
                            <p class="pb-10 bold">Lugar de Expedición</p>
                            <p>Av. Vallarta No.3960-B,</p>
                            <p>Col. Jardínes Vallarta,</p>
                            <p>C.P 45027, Zapopan, Jalisco</p>
                            <div class="row pt-40">
                                <p class="col s6">Fecha de Expedición:</p>
                                <p class="col s6" id="expeditionDate">2017-12-09T01:58:53</p>
                            </div>
                        </section>
                        <section class="pt-30 ">
                            <p id="userName" class="bold">{{username}}</p>
                            <p id="userStreet">CALLE BALDERAS 304 INT 2</p>
                            <p id="userColony">OBSERVATORIO SUR</p>
                            <div class="row">
                                <p id="userCountry" class="col s6">MORELIA MIC 80569 MEX</p>
                                <p class="col s6 right-align">
                                    <img id="hor-bar-code" src="file:///home/ysim/Training/bettercrud/public/img/factura/hor-bar-code.png" alt="hor-bar-code">
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col s6 right">
                        <section class="pb-20">
                            <p class="bold pt-30">Folio Fiscal</p>
                            <p id="folioFiscal">65F088FF-5A5E-4AE5-A825-F5F8C2ECB051</p>
                            <div class="row">
                                <p class="col s6 bold">Folio Telcel</p>
                                <p id="folioTelcel" class="col s6 right-align">EC-53573563</p>
                            </div>
                            <div class="row">
                                <p class="col s6 bold">Total a Pagar</p>
                                <p id="totalPayment" class="col s6 right-align">$598.50</p>
                                
                            </div>
                            <div class="row">
                                <p class="col s6 bold">Fecha de Corte</p>
                                <p id="cutOffDate" class="col s6 right-align">07 Dic 2017</p>
                                
                            </div>
                            <div class="row">
                                <p class="col s6 bold">No. de Cuenta</p>
                                <p id="account" class="col s6 right-align">050588745</p>
                                
                            </div>
                            <div class="row">
                                <p class="col s6 bold">Teléfono</p>
                                <p id="phone" class="col s6 right-align">3122102064</p>
                                
                            </div>
                            <p id="userService" class="bold">TELCEL MAX PLATINO</p>
                            <p id="limitDate">Fecha límite de pago 25 Dic 2017</p>
                        </section>
                        <section class="pt-20">
                            <p class="bold">Radiomóvil Dipsa, S.A. de C.V.</p>
                            <p class="pb-15">RDI841003QJ4</p>
                            <p class="bold pb-5">Domicilio Fiscal</p>
                            <p class="smallFont">Lago Zurich No 245 Edif Telcel,</p>
                            <p class="smallFont">Col. Ampliación Granada, Delegación Miguel Hidalgo,</p>
                            <p class="smallFont">C.P. 11529 México Ciudad de México Tel. 25813700</p>
                        </section>
                    </div>
                </div>
                <div class="row pt-30">
                    <section class="firstTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Estado de Cuenta</th>
                                    <th scope="col" class="right-align">Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Saldo Anterior</td>
                                    <td id="previousBalance" class="right-align">692.41</td>
                                </tr>
                                <tr>
                                    <td scope="row">Pagos</td>
                                    <td id="payment" class="right-align">-693.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Total cargos anteriores</th>
                                    <th id="charge" class="right-align">0.59</th>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="row pt-40">
                    <section class="secondTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Descripción</th>
                                    <th scope="col" class="center-align">Cantidad</th>
                                    <th scope="col" class="center-align">Clave Unidad</th>
                                    <th scope="col" class="center-align">Clave Prod. Servicio</th>
                                    <th scope="col" class="center-align">Valor Unitario</th>
                                    <th scope="col" class="center-align">Descuento</th>
                                    <th scope="col" class="right-align">Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="service" scope="row">Servicio de Telecomunicaciones</td>
                                    <td id="quantity" class="center-align">1</td>
                                    <td id="unityId" class="center-align">E48 Unidad de Servicio</td>
                                    <td id="serviceId" class="center-align">83111603</td>
                                    <td id="unitValue" class="center-align">516.38</td>
                                    <td id="discount" class="center-align"></td>
                                    <td id="amount" class="right-align">516.38</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="row pt-40">
                    <section class="thirdTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Descripción</th>
                                    <th scope="col" class="center-align">Base Impuesto</th>
                                    <th scope="col" class="center-align">Impuesto</th>
                                    <th scope="col" class="center-align">Tipo factor</th>
                                    <th scope="col" class="center-align">Tasa o cuota</th>
                                    <th scope="col" class="right-align">Importe IVA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="taxDescrn" scope="row">Servicio de Telecomunicaciones</td>
                                    <td id="amount" class="center-align">516.38</td>
                                    <td id="tax" class="center-align">002 IVA</td>
                                    <td id="factorType" class="center-align">Tasa</td>
                                    <td id="rate" class="center-align">0.16</td>
                                    <td id="amountIVA" class="right-align">82.62</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="row pt-40">
                    <h5 class="center-align pb-20">Equivalencia Catálogo SAT</h5>
                    <div class="col s4 pl-0 pr-0">
                        <section class="forthTable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Clave Prod.</th>
                                        <th scope="col">Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row" class="center-align">83111603</td>
                                        <td>Servicios de Telefonía celular</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="col s8 pr-0">
                        <section class="fifthTable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col s4">Clave Unidad</th>
                                        <th scope="col" class="col s8">Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row" class="col s4">E48 UNIDAD DE SERVICIO</td>
                                        <td class="col s8">Unidad de conteo que define el número de unidades de servicio (unidad de servicio: definido periodo / propiedad  / centro / utilidad de alimentación).</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
                <div class="row pt-40 pb-50">
                    <section class="sixthTable">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="col s10 right-align">Subtotal</th>
                                    <th id="amount" class="col s2 right-align">516.38</th>
                                </tr>
                                <tr>
                                    <td class="col s10 right-align">Cargo a favor</td>
                                    <td id="charge" class="col s2 right-align">0.59</td>
                                </tr>
                                <tr>
                                    <th class="col s10 right-align">Subtotal antes del IVA</th>
                                    <th id="amountBefore" class="col s2 right-align">515.79</th>
                                </tr>
                                <tr>
                                    <td class="col s10 right-align">Total de IVA Tasa 16%</td>
                                    <td id="amountIVA" class="col s2 right-align">82.62</td>
                                </tr>
                                <tr>
                                    <th class="col s10 right-align">Cargos del mes</th>
                                    <th id="monthlyCharge" class="col s2 right-align">$598.41</th>
                                </tr>
                                <tr>
                                    <td class="col s6"></td>
                                    <td id="monthlyChargeWords" class="col s6 bb smallFont">(quinientos noventa y ocho pesos 41/100 M.N.)</td>
                                </tr>
                                <tr>
                                    <th class="col s10 right-align">Total nuevos cargos del mes</th>
                                    <th id="monthlyCharge" class="col s2 right-align">598.41</th>
                                </tr>
                                <tr>
                                    <td class="col s10 right-align">Cargo por redondeo</td>
                                    <td id="rounding" class="col s2 right-align">0.09</td>
                                </tr>
                            </tbody>
                            <tfoot class="bigFont">
                            <tr>
                                <td scope="col" class="col s10 right-align">Total a pagar</td>
                                <td id="totalPayment" scope="col" class="col s2 right-align">$598.5</td>
                            </tr>
                            </tfoot>
                        </table>
                    </section>
                </div>
                <div class="row pt-50">
                    <div class="col s4 left-align">
                        <p class="bold">Dudas o Sugerencias</p>
                        <p>Marque sin costo desde su Telcel *111 o desde un teléfono fijo 018003630800</p>
                        <p>Visite www.telcel.com</p>
                    </div>
                    <div class="col s6 offset-s2 right-align">
                        <p>Cargo por redondeo: la diferencia de centavos por redondeo que aparece en su estado de cuenta se acreditará en su próxima factura</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>